* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
.header {
  width: 100%;
  height: 100vh;
  background-image: url("../img/fondoPantallaC.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;

  background: linear-gradient(rgba(46, 44, 44, 0.57), black);
}
.navbar {
  width: 100%;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  color: #fff;
}
.nameLogo {
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 2px;
  font-weight: 400;
}
code {
  color: #0fc2c0;
  font-weight: 700;
}
.navbar__links {
  display: flex;
  justify-content: space-around;
}
li {
  list-style: none;
}
.link {
  font-size: 15px;
  color: #fff;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}
.nameLogo:hover {
  color: #0fc2c0;
  transition: 0.2s;
  cursor: pointer;
}
.link:hover {
  color: #0fc2c0;
  border-radius: 6px;
  transition: 0.2s;
}

/*T A R G E T A*/
.container__card {
  width: 100%;
  margin: 60px auto 0;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.card__name{
  font-size: 25px;
}
.card__text {
  text-align: center;
  padding: 20px 20px;
  width: 260px;
  margin: 110px auto 0 auto;
  background-color: #131414f7;
  color: #f2f2f2;
  padding-top: 130px;
  border-radius: 8px;
}
.card__text > span {
  color: #0fc2c0;
  display: block;
  padding: 10px 0;
}
.img__card {
  margin: 20px auto;
  position: absolute;
  outline: 14px solid #0fc2bf4e;
  border: 8px solid #0fc2c0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-image: url("../img/perfilC.jpg");
  background-position: center;
  background-size: cover;
}
.container__networks {
  margin-top: 8px;
  display: flex;
  justify-content: space-evenly;
}
.network{
color: #f2f2f2;
}
.network:hover {
  color: #0fc2c0;
  cursor: pointer;
}
/*ABOUT*/
main{
  background-color: rgba(0, 0, 0, .928);
  color: #f2f2f2;
}
.container__about{
  width: 100%;
  height: 100vh;
}
.aboutMe{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
h2{
  display: inline-block;
  padding: 30px 10px 10px 10px;
  border-bottom:2px solid #0fc2c0;
}
.description__about{
  line-height: 24px;
  padding-top: 60px;
  font-weight: 600;
  text-align: justify;
}
/*Data*/
.container__data{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding-top: 60px;
}
.title__data{
  padding: 30px 0 20px 0;
}
.container__data__profile{
  max-width: 380px;
}
.container__details{
  overflow: hidden;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.details{
  padding: 5px;
  font-weight: bold;
}
.details--blue{
  color: #0fc2c0;
  padding: 5px 20px 5px 0;
  font-weight: bold;
}
.details--free{
  display: inline-block;
  padding: 6px 8px;
  background-color: #0fc2c0;
  border-radius: 6px;
}
/*Interest*/
.container__interest{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.interest__block{
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(48, 45, 45, 0.757);
  font-weight: bold;
  letter-spacing: 1px;
  border-radius: 3px;
}
.text__block{
  padding-top: 10px;
  font-size: 12px;
}
.interest__block:hover{
  color: #0fc2c0;
  cursor: pointer;
}

/*PROYECTOS*/
.container__projects{
  width: 100%;
  height: 100vh;
  text-align: center;
}

/*CONTACTO*/
.container__contact{
  width: 100%;
  height: 100vh;
  text-align: center;
}
.container__form{
  padding-top: 40px;
  max-height: 700px;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
}
form{
  min-height: 410px;
}
.container__form > form{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.container__label{
  text-align: left;
  font-weight: 600;
}
.container__label > li{
  display: block;
  padding: 5px 0 10px 0;
}
input, textarea{
  height: 30px;
  font-weight: 600;
  color: #f2f2f2;
  background: #000;
  border: 1px solid #0fc2c0;
  border-radius: 6px;
}
input::placeholder, textarea::placeholder{
  color: #0fc2c0;
}
input{
  padding-left: 10px;
}
textarea{
  height: 100px;
  padding: 10px;
  resize: none;
  }
.container__label > div{
  width: 100%;
  text-align: center;
}
.svg{
  width: 250px;
}
input[type="submit"]{
  width: 120px;
  padding: 0;
  color: #0fc2c0;
  text-align: center;
}
/*FOOTER*/
.footer {
  background-color: rgba(0, 0, 0, 0.798);
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  bottom: 0;
}

.footer__text > small {
  display: inline-block;
  padding: 20px;
  color: #f2f2f2a4;
  position: relative;
}
/*DISPOSITIVOS MOBILES*/
@media screen and (max-width: 640px){
  .container__about{
    height: auto;
  }
  .container__data{
    flex-direction: column;
    padding-top: 0;
  }
  .container__interest{
    padding-bottom: 80px;
  }
}
@media screen and (max-width: 463px) {
  .navbar {
    justify-content: center;
  }
  .navbar__links > li {
    display: none;
  }
  /*ABOUT*/
  .description__about{
  padding-top: 30px;
  }
  .container__data{
    flex-direction: column;
  }
  /*CONTACT*/
  .container__form > form{
    flex-direction: column-reverse;
  }
  form{
    min-height: 610px;
    padding-top: 20px;
  }
}
